<div class="oms-ui-container">
  <mat-toolbar color="primary" *ngIf="loginService.isLoggedIn">
    <mat-toolbar-row>
      <span>Grid OMS Solution</span>
      <mat-form-field>
        <mat-select  (selectionChange)="handleChange($event)">
          <mat-option *ngFor="let view of views" [value]="view.value">  {{ view.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="example-spacer"></span>
      <span>
        <button (click)="createOutage()" class="create-outage-btn" mat-raised-button color="primary"> + Create Outage</button>
      </span>
      <span> Welcome {{ loginService.getCurrentUser().name  }} ! <a (click)="logout()"> Logout </a> </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
