.oms-ui-container {
  overflow: hidden;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #12151c;
}

::ng-deep {
  .mat-select-panel {
    background: #00202c !important;
    color: white;
  }
}

mat-form-field {
  margin-left: 5em;
}
