:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  color: white;
}
.mat-card-title {
  color: #fff;
}

mat-card {
  background: #003266;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: #0682b3;
  }
}

img {
  position: relative;
  padding: 0em 3em;
}
